@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
.videoContainer {
  height: 70vh;
  width: 100%;
  overflow: hidden;
  padding: 0%;
  margin-top: 0;
}

.videoContainer video {
  min-width: 100%;
  min-height: 100%;
}

.video {
  position: relative;
  width: 100%;
}

.divTapa {
  position: absolute;
  background-color: black;
  opacity: 50%;
  z-index: 5;
  min-width: 100%;
  min-height: 70%;
}

.textoTitleInicio {
  font-family: 'Exo 2', sans-serif;
  color: rgb(223, 227, 230);
  font-size: 50px;
  opacity: 0;
  transition: opacity 1s; 
}

.textoTitleInicio.show {
  opacity: 1;
}

